<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="container">
            <div class="col-xs-9">
                <ul class="nav navbar-nav">
                    <li ><a routerLink="/store-admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Store</a></li>
                    <li ><a routerLink="/store-list" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Stores</a></li>
                    <li ><a routerLink="/equipment" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Equipment</a></li>                      
                </ul>
            </div>
        </div>
    </div>
</nav>