<div class="container" (mousemove)="onMouseMove($event)">
    <div class="row">
        <h1> Store Equipment </h1>
    </div>
    <div class="row map-container" (click)="loadMap($event)">
        <h1> Load Map </h1>

    </div>
    <div class="row">
        <select (change)="dropDownChanged($event.target.value)" >
            <option>Select</option>
            <option *ngFor='let eq of equipmentDropdown'>{{ eq.name }}</option>
        </select>
        <button (click)="addEquipment()" type="submit" class="btn btn-default">Add a piece of equipment </button>
        <button (click)="saveEquipment()" type="submit" class="btn btn-default">Save equipment </button>
    </div>
</div>
