h1{
    color:blue;
}
#load-button{
    background-color:#000;
    text-align:center;
}
#load-button:hover{
    cursor: pointer;
}
.fourXfive{
    background-color:#000;
    color:#fff;
    position:absolute;
    width:30px;
    height:40px;
    left:220px;
    top:220px;
}
.container{
    height:1000px;
}
.map-container{
    min-height: 1000px;
}
.equipment-element{
    cursor: pointer;
}